@import "tailwindcss";
:root {
    --breakpoint-xs: 393px;
    --breakpoint-sm: 639px;
    --breakpoint-md: 767px;
    --breakpoint-lg: 1150px;
    --breakpoint-xl: 1400px;
}

html {
    scroll-behavior: smooth;
    overflow-y: scroll;
}
